# Python's byte code
*.pyc

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Measurements
measurements*.txt

# DuckDB files
*.ddb

# dev
.idea
Cargo.*
gleam.toml
manifest.toml
bun.lockb
node_modules/
__coconut_cache__/
measurements.zip

# outputs:
*.txt
build/
naive
src/
target/
a.out
